body {

margin: 0;

font-family: 'Inter', sans-serif;

background: black;

color: white;

height: 100vh;

display: flex;

flex-direction: column;

}

/* LIGHT MODE */

body.light {

background: white;

color: black;

}

/* HEADER */

header {

display: flex;

justify-content: space-between;

padding: 20px 40px;

font-size: 18px;

border-bottom: 1px solid currentColor;

}

.controls {

display: flex;

gap: 15px;

}

button {

background: none;

border: 1px solid currentColor;

color: inherit;

padding: 6px 12px;

cursor: pointer;

font-size: 14px;

}

/* MAIN CENTER */

main {

flex: 1;

display: flex;

justify-content: center;

align-items: center;

text-align: center;

}

/* CLOCK LAYOUT */

.clock-layout {

display: flex;

flex-direction: column;

align-items: center;

gap: 10px;

}

/* DATE */

.date-line {

font-size: 40px;

letter-spacing: 2px;

}

/* TIME */

#time {

font-size: 180px;

font-weight: 800;

letter-spacing: 5px;

}

/* WEATHER */

.weather-line {

font-size: 24px;

display: flex;

gap: 25px;

flex-wrap: wrap;

justify-content: center;

}

/* FOOTER */

footer {

padding: 10px;

text-align: center;

border-top: 1px solid currentColor;

}

/* MOBILE */

@media(max-width:768px){

#time {

font-size: 80px;

}

.date-line {

font-size: 20px;

}

.weather-line {

font-size: 16px;

}

}
