body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

body.dark-mode {
  background-color: #000000;
  color: white;
}

body.light-mode {
  background-color: white;
  color: black;
}

header {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent; /* Make background transparent */
  border-bottom: 1px solid #ccc; /* Optional: add a border if needed */
}

header.dark-mode {
  background-color: rgba(0, 0, 0, 0.8); /* Slightly visible background in dark mode */
}

header.light-mode {
  background-color: rgba(255, 255, 255, 0.8); /* Slightly visible background in light mode */
}

.logo {
  font-size: 24px; /* Adjust size as needed */
  font-weight: bold;
  color: inherit;
}

.day-date-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between day and date */
}

.day-date-container h1 {
  margin: 0; /* Remove default margin */
  font-size: 1.5vw; /* Adjust font size for mobile */
}

.mode-toggle-icon {
  font-size: 30px;
  cursor: pointer;
  color: inherit;
  padding-right: 10px;
}

main {
  text-align: center;
  padding: 5% 10%;
  flex: 1;
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#time {
  font-size: 20vw; /* Increased font size for time */
  margin: 2% 0;
}

.fullscreen-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1px;
  width: 100%;
  position: fixed;
  bottom: 0;
  /*  z-index: 999; Ensure footer is visible */
}

footer.dark-mode {
  background-color: #000000;
  color: white;
}

footer.light-mode {
  background-color: #f1f1f1;
  color: black;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  header {
    padding: 10px; /* Adjust padding as needed */
    flex-direction: row; /* Ensure horizontal alignment */
    flex-wrap: nowrap; /* Prevent wrapping */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .day-date-container {
    font-size: 4vw; /* Larger font size for mobile */
    margin-left: 10px; /* Space between day/date and logo */
    margin-right: 10px; /* Space between day/date and mode toggle icon */
  }

  #time {
    font-size: 25vw; /* Adjust as needed to fit the screen */
  }

  /* Ensure full-screen mode on mobile */
  body.fullscreen #time {
    font-size: 30vw; /* Larger font size in full-screen mode */
  }
}

@media only screen and (min-width: 769px) {
  #time {
    font-size: 15vw; /* Adjust as needed to fit the screen */
  }
}
